<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".SimpleRemoteApp"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".deprecated.CameraActivity"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".deprecated.ItemEditScreen"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity android:name="ua.com.programmer.simpleremote.deprecated.serviceUtils.DocumentsFilterActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".deprecated.CatalogListActivity"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".deprecated.DocumentActivity"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".deprecated.ScannerActivity"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity android:name="ua.com.programmer.simpleremote.deprecated.settings.ConnectionSettingsActivity" />
        <activity android:name=".deprecated.LoginActivity" />

    </application>

</manifest>